SUPABASE_URL = https://lihqwqmyjkkkqsarpouh.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxpaHF3cW15amtra3FzYXJwb3VoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ5MTAzNDMsImV4cCI6MjA4MDQ4NjM0M30.P4Tz-7rSARRt66MxGDVw9vLl5zBR94SgqE81cy8plxg